@charset "UTF-8";

.fixed #wdn_navigation_bar {
	height:0;
}

a.tooltip {
	display:block;
}

a.moreButton {
	background-image: url(../images/more.gif);
	background-repeat: repeat-x;
	border: 1px solid #CCC;
	border-color: #DDDD #AAA #AAA #DDD;
	display: block;
	font-size: 1.4em;
	font-weight: bold;
	line-height: 30px;
	margin:0 auto;
	margin-bottom:10px;
	text-align: center;
	text-decoration: none;
	width: 95%;
	
	/* HTML5 */
	border-radius: 5px;
	-khtml-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
}

a.moreButton:hover {
	background-position:left -78px;
    border:1px solid #BBBBBB;
    text-decoration:none;
}

.tweetHeader {
	border-bottom: #DDD 2px dashed;
	float:left;
	margin:-38px 25px 18px 25px;
	padding-bottom: 0;
	width:460px;
}

#maincontent
.tweetHeader h2 {
	float:left;
	padding-bottom:7px;
}

#maincontent
.tweetHeader a {
	color:#999;
	float:right;
	font-size:1em;
	padding-top:10px;
}

#maincontent
.tweetHeader a:hover span {
	text-decoration:underline;
}

.boxheader {
	background-color:#efefef;
	background-image:url(../images/twitter_header.jpg);
	background-repeat:no-repeat;
	border-bottom:2px solid #9E0202;
	height:275px;
	margin-bottom:60px;
	width:984px;
}

.boxheader .blurb {
	display:block;
	float:right;
	font-size:1.25em;
	line-height:36px;
	margin-right:50px;
	margin-top:20px;
	text-align:right;
	width:485px;	
}

#maincontent
.boxheader .blurb h3 {
	color: rgb(95, 95, 95);
	font-family: Helvetica,Arial,sans-serif;
	font-size: 2em;
	font-weight: bold;
	letter-spacing: -0.038em;
	line-height: 1.1em;
	padding-right:28px;
	padding-top:54px;
	text-align: center;
	width:245px;
	word-spacing: -0.05em;
	
	/* HTML5 */
    text-shadow: 0 1px 0 white;
	filter: dropshadow(color=white, offx=0, offy=1);
}

/* Don't show shadows when selecting text */
::-moz-selection { background: #5af; color: #fff; text-shadow: none; }
::selection { background: #5af; color: #fff; text-shadow: none; }

.boxheader .blurb .cloud_header {
	background-image:url(../images/cloud.png);
	background-repeat:no-repeat;
	float:right;
	height:98px;
	left:30px;
	margin-top:-33px;
	position:relative;
	width:258px;
}

.boxheader .blurb p {
	color:#fff;
	float:right;
	padding-left: 100px;
	
	/* HTML5 */
	text-shadow:0 1px 0 #2697bd;
	filter: dropshadow(color=#2697bd, offx=0, offy=1); 
}

.bubble {
	padding: 15px 10px 5px 10px;
	margin: 0;
}

#maincontent {
	background-color:#B70302;
	margin:-40px -12px 0;
	width:984px;
	z-index:0;
}

#maincontent h4 {
	color: #785917;
	font-weight:bold;
	padding-bottom:8px;
	
	/* HTML5 */
	text-shadow: 1px 1px 0 #f2f0e4;
	filter: dropshadow(color=#f2f0e4, offx=1, offy=1);
}

#maincontent .sec_header, #colorbox .sec_header {
	border-bottom: #dacf94 2px solid;
}

#maincontent
.tweet .origination a {
	color:#8c8c8c;
	text-decoration:underline;
}

#maincontent
.tweet .origination a:hover {
	text-decoration:none;
}

#maincontent ul.wdn_tabs {
	border-bottom:none;
	bottom: 45px;
    height: 0;
    position: relative;
}

#maincontent ul.wdn_tabs li {
	font-family: Helvetica,Arial,sans-serif;
	font-size:18px;
}

#maincontent ul.wdn_tabs li.last a {
	padding: 0px 18px 0px 10px;
}

#maincontent ul.wdn_tabs li.last.selected a span {
	margin-top:15px;
}

#maincontent
.tweetBox .wdn_tabs_content {
	margin-top:57px;
}

.right {
	float:right;
	margin-top:-15px;
	position:absolute;
	right:50px;	
	width:278px;
}

.right .bubble p {
	color:#594211;
	font-size:11px;
}

.right .h4 {
	margin-bottom:10px;
}

.right .bubble ul.socialbuttons {
	list-style-type: none;
	margin: 0;
	margin-left: -14px;
	padding: 0;
}

.right .bubble ul.socialbuttons li {
	display:inline;
	float: left;
	margin:0 12px;
}

.right .mini_container {
	background-color: #f2eccb;
	border:1px solid #906B1C;
	margin-bottom: 1em;
	margin-top:15px;
	padding: 5px;
	
	/* HTML5 */
	border-radius: 5px;
	-khtml-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.socialbuttons a.facebook {
	background: url('../images/social_facebook.png') bottom;
	display: block;
	height: 50px;
	text-indent: -99999px;
	width: 50px;
}

.socialbuttons a.facebook:hover {
	background-position:0 100px;
}

.socialbuttons a.facebook:active {
	background-position:0 0;
}

.socialbuttons a.twitter {
	background: url('../images/social_twitter.png') bottom;
	display: block;
	height: 50px;
	text-indent: -99999px;
	width: 50px;
}

.socialbuttons a.twitter:hover {
	background-position:0 100px;
}

.socialbuttons a.twitter:active {
	background-position:0 0;
}

.socialbuttons a.youtube {
	background: url('../images/social_youtube.png') bottom;
	display: block;
	height: 50px;
	text-indent: -99999px;
	width: 50px;
}

.socialbuttons a.youtube:hover {
	background-position:0 100px;
}

.socialbuttons a.youtube:active {
	background-position:0 0;
}


/* These are for index.php */

.tweet {
	background-color:#f3f3f3;
	margin-bottom:4px;
	margin-left:-30px;
	padding:5px;
	width:547px;
	
	/* HTML5 */
	border-radius: 6px 0px 0px 6px;
	-khtml-border-radius: 6px 0px 0px 6px; 
	-moz-border-radius: 6px 0px 0px 6px; 
	-webkit-border-radius: 6px 0px 0px 6px;
}

.wdn_tabs_content
.tweet:hover {
	background-color:#fff;
	
	/* HTML5 */
	box-shadow: inset 0px 18px 20px -23px #c1c1c1, inset 0px -15px 20px -23px #c1c1c1;
	-moz-box-shadow: inset 0px 18px 20px -23px #c1c1c1, inset 0px -15px 20px -23px #c1c1c1;
	-webkit-box-shadow: inset 0px 18px 20px -23px #c1c1c1, inset 0px -15px 20px -23px #c1c1c1;	
	
}

.tweet .avatar {
	float:left;
	padding-right:5px;
}

.tweet .origination {
	color:#8c8c8c;
	font-size:0.85em;
	margin-left:53px;
}

.tweet .text {
	font-size:1em;
	margin-left: 53px;
}

.tweetBox {
	background-color:#fff;
	border:1.5px solid #e6e6e6;
	left:85px;
	margin-bottom:30px;
	position:relative;
	width:506px;
	
	/* HTML5 */
	border-radius: 8px;
	-khtml-border-radius: 8px; 
	-moz-border-radius: 8px; 
	-webkit-border-radius: 8px;
}

.tweetBox .shadow {
	bottom:30px;
	height:10px;
	position:relative;
	right:532px;
	width:550px;
	
	/* HTML5 */
	box-shadow: 0px 7px 6px -2px rgba(0, 0, 0, .3);	
	-moz-box-shadow: 0px 7px 6px -2px rgba(0, 0, 0, .3);
	-webkit-box-shadow: 0px 7px 6px -2px rgba(0, 0, 0, .3);
	filter: progid:DXImageTransform.Microsoft.dropShadow(color=#666, offX=0, offY=7, positive=true);
}

/* These are for orgs.php */

.tweet.friend {
	margin:0 auto;
	padding:10px 0px;
	width:460px;
	
	/* HTML5 */
	border-radius: 0; 
	-khtml-border-radius: 0;
	-moz-border-radius: 0; 
	-webkit-border-radius: 0;
}

.tweet.friend.row1 {
	background-color:#efefef;
	border-bottom:1px solid #ddd;
	border-top:1px solid #ddd;
}

.tweet.friend.row2 {
	background-color:white;
}

.tweet.friend .avatar {
	padding-left:5px;
}

.tweet.friend .text {
	margin-left: 65px;
}

/* * * * * * * * * * * */

.tabBox {
	bottom: 5px;
	position: relative;
}

.twitterTab {
	background-color:#f2eccb;
	border-bottom: 1px solid #906b1c;
	border-left: 1px solid #906b1c;
	border-top: 1px solid #906b1c;
	height:32px;
	padding:7px 5px;
	position:absolute;
	right:0;
	top: 250px;
	width: 420px;
	
	/* HTML5
	background: -moz-linear-gradient(#f66, #C00 10%, #B70302);
	background: -ms-linear-gradient(#f66, #C00 10%, #B70302);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f66),color-stop(.1, #C00),color-stop(1, #B70302));
	*/
	
	border-radius: 6px 0 0 6px;
	-moz-border-radius: 6px 0 0 6px;
	-webkit-border-radius: 6px 0 0 6px;
	
	box-shadow: inset 0px -8px 12px -10px rgba(0, 0, 0, 0.8);
	-webkit-box-shadow: inset 0px -8px 12px -10px rgba(0, 0, 0, 0.8);
	-moz-box-shadow: inset 0px -8px 12px -10px rgba(0, 0, 0, 0.8);

}

#maincontent
.twitterTab h3 {
	color:#785917;
	font-size:2.2em;
	font-weight:bold;
	
	/* HTML5 */
	text-shadow: 1px 1px 0 #F2F0E4;
	filter: dropshadow(color=#f2f0e4, offx=1, offy=1);
}

.twitter_logo {
	background: url('../images/social_logo.png') bottom;
	display: block;
	height: 40px;
	margin-left:8px;
	margin-bottom:8px;
	text-indent: -99999px;	
	width: 200px;
}

.twitter_logo:hover {
	background-position:0 80px;
}

.twitter_logo:active {
	background-position:0 0;
}

.wrap {
	bottom:4px;
	border-top: 20px solid gray;
	border-right: 20px solid transparent;
	height: 0;
	left:507px;	
	position:relative;
	width: 0;
}